<DOCTYPE! html>
<html>
<head>
<title>The Truth Quiz</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./anthony.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="row firstrow">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <h2 class="name">The Truth Quiz</h2>
</div>
<div class="col-md-4"></div>
</div>

<div class="row" style="margin-top: 80px;" ><div class="col-md-12"><p class="ques">What year was your ex/boyfriend born?</p></div></div>
<div class="row" align="center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <label for="t1"></label>
    <input type="text" placeholder="year" id="t1" style="margin-right: 20px;">
    <input type="text" id="t1" placeholder="your name" style="margin-right: 20px;">
    <button type="button" class="buttontext" onclick="myFunction()">Submit</button>
    <div class="col-md-4"></div>
</div>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  function myFunction(){
    var x = document.getElementById("t1").value;
    if(x == 2000){
      window.location.href = "https://marvelapp.com/56f0i0h"
    }else{
      alert('Please add a right date')
    }
  }
  
  </script>
</html>